* {
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;


  }
  
  html {
      scroll-behavior: smooth;
  }



/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

.home-text{
    color: white;
}


nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

#desktop-nav, #hamburger-nav {
    position: fixed;
    top: 0;
    width: 100%;
}






.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {

    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(black);
}

.logo {
    font-size: 2rem;
    color: black;

}

.logo1 {
    font-size: 2rem;
    color: White;
    
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.sub-heading{
    text-align: center;
}



.main-heading {
    padding-bottom: 50px;
    padding: 20px 16px;
    text-decoration: none;
    position: fixed;
    font-size: 48px;

}


/* Containers */


.circular-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;


    transition: transform 0.5s;
  
  
}

.circular-container:hover {
  transform: scale(1.1);
}

/* Style for the heading inside the circular container */
.circular-heading {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    
}

.circular-heading a{
  text-decoration: none;
  color: black;
}

.row-1{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    margin-left: auto; /* Move the grid to the center horizontally */
    margin-right: auto; /* Move the grid to the center horizontally */
    max-width: 1200px; 
    
}

.row-2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 10px;
  margin-left: auto; /* Move the grid to the center horizontally */
  margin-right: auto; /* Move the grid to the center horizontally */
  max-width: 1200px; 

}

.jason{
      width: 100%;
      height: auto;
      display: block;
}

.BB1{
    width: fit-content;
    height: 800px;
}


.footer{
    color: white;
    text-align: center;
    bottom: 50px;
    background-image: url('BashImages/ING1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer3 {
    color: white;
    text-align: center;
    bottom: 50px;
    background-image: url('GradImages/Spotlight.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-page{
    background-image: url('BashImages/Jason1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-page2{
    background-image: url('BashImages/7.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-page3{
    background-image: url('GradImages/walk.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.previewImage{
    width: 350px;
    height: 250px;
    border-radius: 50px;
    display: blcok;
    overflow: hidden;
}

.photo-container{
    width: 350px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;


    transition: transform 0.5s;
}